{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="row">
    {% for automobilis in automobiliai %}
    <div class="col-md-4 d-flex align-items-stretch mb-4">
        <div class="card shadow-sm bg-secondary text-light" style="width: 100%; height: 100%;">
            {% if automobilis.cover %}
            <img src="{{ automobilis.cover.url }}" class="card-img-top" alt="Automobilio atvaizdas">
            {% else %}
            <img src="{% static 'img/no-image.jpg' %}" class="card-img-top" alt="No image available">
            {% endif %}
            <div class="card-body d-flex flex-column">
                <div class="mt-auto">
                    <h6 class="card-subtitle mb-2 text-white">Valstybinis NR: {{ automobilis.Valstybinis_NR }}</h6>
                    <p><a href="{% url 'automobilis' automobilis.id %}" class="btn btn-dark">{{ automobilis.AutomobilioModelis }} </a></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container puslapiai">
    <nav aria-label="...">
        {% if automobiliai.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-end">
            {% for i in automobiliai.paginator.page_range %}
            {% if automobiliai.number == i %}
            <li class="page-item active">
                <a class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}