{% extends "base.html" %}

{% block content %}
<div class="container uzsakymai">
    <h4>Visu užsakymų sąrašas.</h4>
    {% for uzsakymas in uzsakymas_list %}
    <li><a href="{{ uzsakymas.id }}">Valstybinis NR: {{uzsakymas.Automobilis.Valstybinis_NR}}</a> Užsakymo data: {{uzsakymas.Data}}</li>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&lang; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lang; atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn &rang;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &rang; </a>
        {% endif %}
    </span>
</div>
{% endblock %}